@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-black: #333;
  --color-black-dark: rgb(32, 32, 32);

  --color-gray: #f4f4f4;

  --color-white: rgb(233, 232, 232);

  --color-blue: #20d4e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-black);
}

.semi-bold {
  font-weight: 600;
}

.capitalize {
  text-transform: capitalize;
}
